<div class="card">
  <img [src]="productData.ProductImg" class="card-img-top" alt="Product Image" />
  <div class="card-body px-md-5 px-2">
    <h5 class="card-title  text-center">{{ productData.ProductName }}</h5>
    <p class="card-text mb-0 d-flex justify-content-center align-items-center font-bold clr-gray">
      Price :
      <span class=" ms-1 fw-normal">{{ productData.ProductPrice | currency }}</span>
    </p>
  </div>
  <div class="card-footer justify-content-center">
   
    <p class="card-text d-flex justify-content-center align-items-center clr-gray">
      <span class="fw-normal" >
      <small class="text-muted" *ngIf="productData.AvailablePieces < 5 && productData.AvailablePieces > 0">
        <span class="font-bold text-danger" *ngIf="
            productData.AvailablePieces < 5 && productData.AvailablePieces > 0
          ">
          Low Stock!</span>
        Only
        <span class="font-bold">{{ productData.AvailablePieces }}</span> pieces left.
      </small>
      <small *ngIf="productData.AvailablePieces >= 5">
        <span class="font-bold ">Available <span class="clr-green">{{ productData.AvailablePieces }}</span> pieces</span>
      </small>
      <small *ngIf="productData.AvailablePieces == 0">
        <span class="font-bold text-danger">Out of stock !</span>
      </small>
      <button *ngIf="productData.AvailablePieces < 5" class="btn-link ms-1 p-0 btn text-underline">
        <i class="fa-solid fa-pen-to-square"></i> 
      </button>
    </span>
      
    </p>
  </div>
</div>