<div class="card">
  <div class="action-btn">
    <!-- <button [disabled]="productData.AvailablePieces == 0" class="btn btn-warning me-2">Add order</button> -->
    <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
  </div>
  <img [src]="productData.ProductImg" class="card-img-top" alt="Product Image">
  <div class="card-body">
    <h5 class="card-title">{{ productData.ProductName }}</h5>
    <p class="card-text clr-gray">Price: <span class="fw-bold">{{ productData.ProductPrice | currency }}</span></p>
    <p class="card-text clr-gray">Quantity:
      <span class="fw-bold"
        [ngClass]="{'clr-black': productData.AvailablePieces >= 5,'clr-red': productData.AvailablePieces < 5 }">{{
        productData.AvailablePieces }}</span>
    </p>
  </div>
  <div class="card-footer justify-content-between">
    <button *ngIf="productData.AvailablePieces < 5" class="btn btn-success me-2"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
    <small class="text-muted" *ngIf="productData.AvailablePieces < 5 &&  productData.AvailablePieces > 0">
      <span class="fw-bold text-danger" *ngIf="productData.AvailablePieces < 5 &&  productData.AvailablePieces > 0"
        >
        Low Stock!</span> Only <span class="fw-bold">{{
        productData.AvailablePieces }}</span> left.
    </small>
    <small *ngIf="productData.AvailablePieces >= 5">
      <span class="fw-bold clr-green"
        >Available</span> 
    </small>
    <small *ngIf="productData.AvailablePieces == 0">
      <span class="fw-bold text-danger"
        >Out of stock !</span> 
    </small>
  </div>
</div>