
// colors
$mainColor:#FF7300;
$white:#FFFFFF;
$bgGray:#fafafa;
$red:#dc3545;
$blue:#0073ce;
$gray:#5d5e5f;
$grayLight:#6c757d;
$black:black;
$green:rgb(0, 192, 0);
// transitions 
$transitionFast:0.3s;
$transitionSlow:0.5s;